<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.semanticweb.owlapi" level="OFF"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>